# Aquí van las variables que indican direcciones o claves personales

# IP's
RASPBERRY=""
IRASPBERRY=""

SERVER=""
ISERVER=""
RSERVER=""

# Directorios
DIR_DOCS="$(xdg-user-dir DOCUMENTS)"
DIR_DOWNLOAD="$(xdg-user-dir DOWNLOAD)"
DIR_MUSIC="$(xdg-user-dir MUSIC)"
DIR_PICTURES="$(xdg-user-dir PICTURES)"
DIR_TEMPLATES="$(xdg-user-dir TEMPLATES)"
DIR_VIDEO="$(xdg-user-dir VIDEOS)"

DIR_PROJECTS="$HOME/projects"
DIR_PROJECT1="$HOME/projects/project1"

DIR_SCRIPTS="$HOME/scripts"